<header th:fragment="top">
  <!-- Fixed navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark navBAR">
	  <a class="nav-link p-0" href="/">
	     <img src="../pictures/logo.jpg" class="rounded-circle z-depth-0" alt="Logo wild Circus" height="70">
	   </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link linknav ml-5" href="/compagnie">La Compagnie</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link linknav ml-5" href="/spectacles">Les Spectacles</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link linknav ml-5" href="/agenda">Agenda</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link linknav ml-5" href="/accueilAdmin">Admin</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</header>
	  

